button {
    position: relative;
    z-index: 10;
}

button:hover {
    transform: scale(1.1);
}



.btn-blue {
    background-color: #3b82f6;
    color: #ffffff;
    transition: background-color 0.3s;
    width: 200px;

}

.btn-red {
    background-color: #f63b3b;
    color: #ffffff;
    transition: background-color 0.3s;
    width: 200px;

}

.btn-yellow {
    background-color: #f3de21;
    color: #000000;
    transition: background-color 0.3s;
    width: 200px;
}

.btn-blue:hover {
    background-color: #2563eb;
}

.btn-green {
    background-color: #22c55e;
    color: #ffffff;
    transition: background-color 0.3s;
    width: 200px;

}

.btn-green:hover {
    background-color: #16a34a;
}